@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 1px;
}
a {
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
* {
    box-sizing: border-box;
}

p {
    margin-top: 0px;
}

body, html {
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1140px;
}
.header {
    position: relative;
    margin-bottom: 0px;
    padding-top: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-start;
}

.header__col--align--left {
    justify-content: flex-end;
}

.logo {
    display: block;
    top: 28px;
    left: 0px;
    margin-right: 80px;
    width: 85px;
    height: 36px;
}
.logo_image {
    max-width: 100%;
}

.menu {
    top: 38px;
    left: 165px;
}
.contacts {
    top: 26px;
    right: 0px;
    font-style: normal;
    text-align: right;
    letter-spacing: 0px;
}
.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 47px;
}
.menu__item:last-child {
    margin-right: 0px;
}
.menu__item:hover {
    color: #DA0100;
}
.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}
.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
}

.hero-main {
    margin-bottom: 245px;
    width: 1140px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 696px;

}

.hero__text-section {
    width: 45%;
}
.hero__title {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.42;
    margin-bottom: 18px;
}    
.hero__subtitile {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}
.btn {
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 41px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}



.section__title {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 9px;
}

.section__title-icon {
    display: inline-block;
    margin-left: 5px;
}

.offers {
    display: flex;
    justify-content: space-between;
}

.section__offers {
    margin-bottom: 125px;
}

.section__offers_title-container {
    margin-bottom: 41px;
}

.offer {
    min-height: 449px;
    background: white;
    border-radius: 4px;
    color: black;
    display: flex;
    flex-direction: column;
}

.offer__item {
    width: calc(100% / 3 - 18px);
}

.offers__item:last-child {
    margin-right: 0px;
}


.offer__header {
    min-height: 150px;
    margin-bottom: 3px;
    overflow: hidden;
}

.offer__header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.offer__content {
    padding: 23px 22px 28px 22px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.offer__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 18px;
}

.offer__conditions-cell {
    display: inline-block;
    vertical-align: top;
    margin-right: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    line-height: 1.75;
}

.offer__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.offer__condition {
    display: inline-block;
    vertical-align: middle;
}

.offer__conditions {
    display: flex;
    justify-content: space-between;
    margin-right: 42px;
    margin-bottom: 24px;
    padding-left: 5px;
}

.offer__text {
    margin-bottom: 28px;
    color: #303030;
    font-weight: 400;
    font-size: 14px;
}

.offer__conditions-cell:last-child {
    margin-right: 0px;
}

.offer__btn-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 2px;
    margin-top: auto;
}

.btn__offer {
    border: 1px solid #F5170E;
    border-radius: 35px;
    padding: 16px 29px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    color: #F5170E;
    font-weight: 700;
}

.btn_active {
    background: #F5170E;
    color: white;
}

.btn__offer:hover {
    background: #F5170E;
    color: white;
}

.section__news {
    margin-bottom: 145px;
}

.section__news_title-container {
    margin-bottom: 41px;
}

.news {
    margin-bottom: 53px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.single-news {
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.news__item {
    margin-right: 1%; 
    height: 393px;
    flex: 1;
}

.single-news__item:last-child {
    margin-right: 0px;
}

.single-news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .4;
}

.single-news__text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 26px 30px;
    min-height: 168px;
}

.single-news__date {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
    display: block;
}

.single-news__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

.pager {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.pager__display {
    margin-right: 26px;
}

.pager__list {
    display: flex;
    align-items: center;
}

.pager__item {
    text-align: center;
}

.pager__item--active .pager__link {
    background: white;
    color: #F5170E;
}

.pager__link:hover {
    background: white;
    color: #F5170E;
}

.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: 700;
    line-height: 32px;
}

.section__about {
    margin-bottom: 57px;
}

.about {
    display: flex;
}

.about:before {
    content: "";
    display: block;
    width: 489px;
    height: 504px;
    border-radius: 5px;
    background: url("../img/content/gates.png") center center / cover no-repeat;
}

.about__desc {
    background: url("../img/content/mountains.png");
    padding: 69px 81px;
    display: inline-block;
    max-width: 784px;
    height: 454px;
    border-radius: 5px;
    margin-left: -136px;
    margin-top: 96px;
}

.about__title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 38px;
    color: black;
}

.about__desc-text {
    margin-bottom: 71px;
    color: black;
    line-height: 27px;
}

.about__desc-text p {
    margin-bottom: 19px;
}

.footer__container {
    margin-top: auto;
}

.footer {
    position: relative;
    height: 100px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    align-items: flex-end;
}

.footer__col--align--left {
    align-items: flex-start;
}

.logo__footer {
    display: block;
    position: absolute;
    top: 46px;
    left: 0px;
    width: 85px;
    height: 36px;
}

.menu__footer {
    position: absolute;
    top: 57px;
    left: 164px;
}

.footer-container__content {
    border-top: 1px solid rgba(255,255,255,0.1);
}

.socials {  
    margin-right: 266px;
    margin-top: 34px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.socials__item:last-child {
   margin-right: 0px;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.contacts__footer {
    position: absolute;
    top: 46px;
    right: 0px;
    font-style: normal;
    text-align: right;
    letter-spacing: 0px;
}

.contacts__info {
    font-size: 11px;
    font-weight: 400;
    color: #9A9A9A;
    border-bottom: 10px;
}

.social__item--icon-telegram {
    background-image: url(../img/icons/telegram.png);
}

.social__item--icon-telegram:hover {
    background-image: url(../img/icons/th.png);
}

.social__item--icon-vk {
    background-image: url(../img/icons/vk.png);
}

.social__item--icon-vk:hover {
    background-image: url(../img/icons/vkh.png);
}

.social__item--icon-fb {
    background-image: url(../img/icons/f.png);
}

.social__item--icon-fb:hover {
    background-image: url(../img/icons/f2h.png);
}

.social__item--icon-insta {
    background-image: url(../img/icons/in.png);
}

.social__item--icon-insta:hover {
    background-image: url(../img/icons/inh.png);
}

.main-page-wrapper {
    background: url(../img/backgrounds/1.png) center top no-repeat, url(../img/backgrounds/2.png) right bottom no-repeat;
}

/*services page*/

.top__line {
    min-height: 410px;
    display: flex;
    flex-direction: column;
    background: #001821 url(../img/backgrounds/headline\ 1.png) right 49% top no-repeat;
}

.top-line__container  {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 13px;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__link {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
}

.breadcrumbs__item::after {
    content: "/";
}

.breadcrumbs__item:last-child {
    content: none;
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__link--active {
    font-weight: 700;
}

.page-content {
    background: #F2F2F2;
    color: black;
    padding: 100px 0;
}

.services {
    margin-bottom: 68px;
}

.service__desc {
    color: #303030;
}

.service {
    display: flex;
    margin-bottom: 51px;
}

.service__img {
    width: 40%;
    margin-right: 5%;
    flex-shrink: 0;
    max-height: 333px;
    overflow: hidden;
}

.service__content {
    flex: 1;
    padding-top: 10px;
}

.service__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 27px;
}

.service__desc {
    line-height: 27px;
    margin-bottom: 38px;
}


.btn__serv {
    border: 1px solid #F5170E;
    border-radius: 35px;
    padding: 16px 40px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    color: #F5170E;
    font-weight: 700;
}

.btn_active {
    background: #F5170E;
    color: white;
}

.btn__serv:hover {
    background: #F5170E;
    color: white;
}

.pager__item--active .serv .pager__link {
    background:#F5170E;
    color: white;
}

.pager__link .serv:hover {
    background: #F5170E;
    color: white;
}

.inner-section {
    background: #F4F5F5;
    color: #1A1B1E;
    padding: 70px 0 30px;
}

.inner-section__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 98px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 224px;
    height: 37px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0%);
}

.partners__item {
    margin-left: 80px;
    margin-bottom: 90px;
}



.partners__item:nth-child(4n+1) {
    margin-left: 0px;
}

