.section__about {
    margin-bottom: 57px;
}

.about {
    display: flex;
}

.about:before {
    content: "";
    display: block;
    width: 489px;
    height: 504px;
    border-radius: 5px;
    background: url("../../img/content/gates.png") center center / cover no-repeat;
}

.about__desc {
    background: url("../../img/content/mountains.png");
    padding: 69px 81px;
    display: inline-block;
    max-width: 784px;
    height: 454px;
    border-radius: 5px;
    margin-left: -136px;
    margin-top: 96px;
}

.about__title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 38px;
    color: black;
}

.about__desc-text {
    margin-bottom: 71px;
    color: black;
    line-height: 27px;
}

.about__desc-text p {
    margin-bottom: 19px;
}