.footer__container {
    margin-top: auto;
}

.footer {
    position: relative;
    height: 100px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    align-items: flex-end;
}

.footer__col--align--left {
    align-items: flex-start;
}

.logo__footer {
    display: flex;
    margin-top: 30px;
    width: 85px;
    height: 36px;
}

.menu__footer {
    position: absolute;
    top: 57px;
    left: 164px;
}

.footer-container__content {
    border-top: 1px solid rgba(255,255,255,0.1);
}

.socials {  
    margin-right: 266px;
    margin-top: 34px;
}

.socials__item {
    display: inline-flex;
    margin-right: 5px;
}

.socials__item:last-child {
   margin-right: 0px;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.contacts__footer {
    position: absolute;
    top: 46px;
    right: 0px;
    font-style: normal;
    text-align: right;
    letter-spacing: 0px;
}

.contacts__info {
    font-size: 11px;
    font-weight: 400;
    color: #9A9A9A;
    border-bottom: 10px;
}

.social__item--icon-telegram {
    background-image: url(../../img/icons/telegram.png);
}

.social__item--icon-telegram:hover {
    background-image: url(../../img/icons/th.png);
}

.social__item--icon-vk {
    background-image: url(../../img/icons/vk.png);
}

.social__item--icon-vk:hover {
    background-image: url(../../img/icons/vkh.png);
}

.social__item--icon-fb {
    background-image: url(../../img/icons/f.png);
}

.social__item--icon-fb:hover {
    background-image: url(../../img/icons/f2h.png);
}

.social__item--icon-insta {
    background-image: url(../../img/icons/in.png);
}

.social__item--icon-insta:hover {
    background-image: url(../../img/icons/inh.png);
}
