.form__row-inp {
    display: flex;
    margin-bottom: 28px;
}

.form__row-textarea {
    display: flex;
    margin-bottom: 28px;
}

.form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 5px;
    background: white;
    padding: 22px 30px;
    font-size: 18px;
    color: #1A1B1E;
    transition: ease-in 0.2s;
    border: 1px solid transparent;
}

.form__input::placeholder {
    color:#666666;
}

.form__input:hover {
    border: 1px solid #F5170E;
}

.form__input:focus {
    outline: 0;
    border: 1px solid #F5170E;
}

.form__input:last-child {
    margin-right: 0px;
}

.form__input__textarea {
    height: 232px;
    resize: none;
}

.controls__elm {
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #B9EAE4;
}

.controls__checkbox {
    display: none;
}

.form__controls {
    display: flex;
    margin-bottom: 27px;
}

.form__controls-title {
    width: 38.3%;
    font-size: 18px;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.controls__item {
    margin-bottom: 10px;
    margin-right: 4px;
}

.btn--color--grey {
    color: white;
    background: #8E8E8E;
    transition: ease-in 0.2s;
}

.btn--color--grey:hover {
    background:#2B2B2B;   
}

.btn--color--red {
    color: white;
    background:#F5170E;
}

.form__btns {
    display: flex;
    justify-content: flex-end;
}

.form__btn {
    margin-right: 20px;
}

.form__btn:last-child {
    margin-right: 0px;
}

.inner-section-form  {
    background: #F4F5F5;
    color: #1A1B1E;
    padding: 62px 0 96px;
}

.inner-section-form__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 56px;
}

